<nav class="navbar">
    <ul class="navbar-group navbar-left">
        {% for item in base.nav_items %}
        <li>
            <a href="{{ item.href }}" class="navbar-link">
                <img
                    src="/static/dist/icons/{{ base.assets.icon(item.icon) }}"
                    alt="{{ item.title }}"
                    class="navbar-icon"
                >
                {{ item.title }}
            </a>
        </li>
        {% endfor %}

        <li class="dropdown">
            <button class="dropdown-button util-icon">
                <img src="/static/dist/icons/{{ base.assets.icon(crate::constants::icons::SOFTWARE) }}" alt="More" class="navbar-icon">
                Docs
            </button>

            <ul class="dropdown-menu">
                {% for doc in base.docs %}
                <li>
                    <a href="/docs/{{ doc.slug }}" class="dropdown-link">
                        {{ doc.title }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </li>
    </ul>

    <ul class="navbar-group navbar-right">
        <!-- Login / Register -->
        <li>
            <a href="/login" class="navbar-link util-icon">
                <img src="/static/dist/icons/{{ base.assets.icon(crate::constants::icons::LOGIN) }}" alt="Login" class="navbar-icon">
            </a>
        </li>

        <li class="dropdown">
            <button class="dropdown-button util-icon">
                <img src="/static/dist/icons/{{ base.assets.icon(crate::constants::icons::LANGUAGE) }}" alt="Language" class="navbar-icon">
            </button>

            <ul class="dropdown-menu">
                {% for language in base.languages %}
                <li>
                    <button
                        class="dropdown-link"
                        data-language="{{ language.code }}"
                    >
                        <img
                            src="/static/media/languages/{{ language.icon }}"
                            alt="{{ language.label }}"
                            class="navbar-icon"
                        >

                        {{ language.label }}
                    </button>
                </li>
                {% endfor %}
            </ul>
        </li>

        <!-- Theme -->
        <li class="dropdown">
            <button class="dropdown-button util-icon">
                <img src="/static/dist/icons/{{ base.assets.icon(crate::constants::icons::THEME) }}" alt="Theme" class="navbar-icon">
            </button>

            <ul class="dropdown-menu">
                {% for theme in base.themes %}
                <li>
                    <button
                        class="dropdown-link"
                        data-theme="{{ theme.id }}"
                    >
                        <img
                            src="/static/media/themes/{{ theme.icon }}"
                            alt="{{ theme.name }}"
                            class="navbar-icon"
                        >

                        {{ theme.name }}
                    </button>
                </li>
                {% endfor %}
            </ul>
        </li>
    </ul>
</nav>