<nav class="navbar">
    <ul class="navbar-group navbar-left">
        <li>
            <a href="/" class="navbar-link">
                <img src="/static/dist/icons/{{ base.assets.icon(crate::constants::icons::HOME) }}" alt="BuildHaven" class="navbar-icon">
                Home
            </a>
        </li>

        <li>
            <a href="/blog" class="navbar-link">
                <img src="/static/dist/icons/{{ base.assets.icon(crate::constants::icons::BLOG) }}" alt="Blog" class="navbar-icon">
                Blog
            </a>
        </li>

        <li>
            <a href="/resume" class="navbar-link">
                <img src="/static/dist/icons/{{ base.assets.icon(crate::constants::icons::RESUME) }}" alt="Resume" class="navbar-icon">
                Resume
            </a>
        </li>

        <li>
            <a href="/food" class="navbar-link">
                <img src="/static/dist/icons/{{ base.assets.icon(crate::constants::icons::FOOD) }}" alt="Food" class="navbar-icon">
                Food
            </a>
        </li>

        <li>
            <a href="/contact" class="navbar-link">
                <img src="/static/dist/icons/{{ base.assets.icon(crate::constants::icons::CONTACT) }}" alt="Contact" class="navbar-icon">
                Contact
            </a>
        </li>
    </ul>

    <ul class="navbar-group navbar-right">
        <!-- Login / Register -->
        <li>
            <a href="/login" class="navbar-link util-icon">
                <img src="/static/dist/icons/{{ base.assets.icon(crate::constants::icons::LOGIN) }}" alt="Login" class="navbar-icon">
            </a>
        </li>

        <li class="dropdown">
            <button class="dropdown-button util-icon">
                <img src="/static/dist/icons/{{ base.assets.icon(crate::constants::icons::LANGUAGE) }}" alt="Language" class="navbar-icon">
            </button>

            <ul class="dropdown-menu">
                <li>
                    <button class="dropdown-link">
                        English
                    </button>
                </li>

                <li>
                    <button class="dropdown-link">
                        Français
                    </button>
                </li>
            </ul>
        </li>

        <!-- Theme -->
        <li class="dropdown">
            <button class="dropdown-button util-icon">
                <img src="/static/dist/icons/{{ base.assets.icon(crate::constants::icons::THEME) }}" alt="Theme" class="navbar-icon">
            </button>

            <ul class="dropdown-menu">
                <li>
                    <button class="dropdown-link" data-theme="sunset">
                        <img src="/static/media/themes/sun-theme.png" alt="" class="navbar-icon">
                        Sunset
                    </button>
                </li>
                <li>
                    <button class="dropdown-link" data-theme="night">
                        <img src="/static/media/themes/night-theme.png" alt="" class="navbar-icon">
                        Night
                    </button>
                </li>
                <li>
                    <button class="dropdown-link" data-theme="ocean">
                        <img class="navbar-icon" src="/static/media/themes/ocean-theme.png" alt="">
                        Ocean
                    </button>
                </li>

                <li>
                    <button class="dropdown-link" data-theme="forest">
                        <img class="navbar-icon" src="/static/media/themes/forest-theme.png" alt="">
                        Forest
                    </button>
                </li>
            </ul>
        </li>
    </ul>
</nav>