{% extends "base.html" %}

{% block content %}
  <h1> Asset classes </h1>

  <section>
    <!-- Table of contents -->
  </section>

  <section>
    <!-- Asset classes -->
     <h2> Equities </h2>
     <p> Equities represent ownership in a company and provide investors with the potential for capital appreciation and dividend income. </p>

      <h2> Fixed Income </h2>
      <p> Fixed income securities provide a steady stream of income to investors and are generally considered less risky than equities. </p>

      <h2> Real Estate </h2>
      <p> Real estate investments involve purchasing properties for rental income or capital appreciation. </p>

      <h2> Commodities </h2>
      <p> Commodities include physical goods such as gold, oil, and agricultural products that can be traded on various markets. </p>

      <h2> Cash and Cash Equivalents </h2>
      <p> Cash and cash equivalents include money market funds, Treasury bills, and other short-term investments that provide liquidity and stability to a portfolio. </p>
  </section>

{% endblock %}