{% extends "base.html" %}

{% block content %}
<article class="blog-post">
    <header class="blog-post-header">
        <h1>{{ post.title }}</h1>

        {% if let Some(published_at) = post.formatted_published_at() %}
            <p>
                <strong> Published: </strong>
                <time datetime="{{ published_at }}">
                    {{ post.formatted_published_at().unwrap() }}
                </time>
                ({{ post.formatted_time_to_publish().unwrap() }} after creation)
            </p>
        {% endif %}
    </header>

    <div class="blog-post-content">
        {{ content_html }}
    </div>

    <footer>
        <a href="/"> <= Back to Blog </a>
    </footer>
</article>
{% endblock %}