{% extends "base.html" %}

{% block styles %} <link rel="stylesheet" href="/static/css/pages/contact.css"> {% endblock %}

{% block content %}
    <h1> Contact information </h1>
    <ul class="contact-list grid grid-auto">
        <li class="card contact-item">
            <img class="contact-icon" src="/static/media/icons/email-icon.png" alt="">
            <a class="contact-link" href="mailto:vitorbmcurado@proton.me"> vitorbmcurado@proton.me </a>
        </li>
        <li class="card contact-item">
            <img class="contact-icon" src="/static/media/icons/linkedin-icon.png" alt="">
            <a class="contact-link" href="https://www.linkedin.com/in/vitor-c-37471b1b3/"> LinkedIn </a>
        </li>
        <li class="card contact-item">
            <img class="contact-icon" src="/static/media/icons/github-icon.png" alt="">
            <a class="contact-link" href="https://github.com/Vitor-Curado"> GitHub </a>
        </li>
        <li class="card contact-item">
            <img class="contact-icon" src="/static/media/icons/telephone-icon.png" alt="">
            <a class="contact-link" href="https://wa.me/16477817484"> WhatsApp </a>
        </li>
    </ul>
{% endblock %}