{% extends "base.html" %}

{% block content %}
  <header>
    <h1> Blog </h1>
  </header>

  {% if posts.is_empty() %}
    <p>No posts yet.</p>
  {% else %}
    <section class="posts">
      {% for post in posts %}
        <article class="post card">
          <header class="post-header">
            <h2 class="post-title">
              <a href="/{{ post.slug }}"> {{ post.title }} </a>
            </h2>
            {% if let Some(published_at) = post.formatted_published_at() %}
                <p>
                    <strong> Published: </strong>
                    <time datetime="{{ published_at }}">
                        {{ post.formatted_published_at().unwrap() }}
                    </time>
                    ({{ post.formatted_time_to_publish().unwrap() }} after creation)
                </p>
            {% endif %}
          </header>
          <a href="/{{ post.slug }}"> Read post </a>
        </article>
      {% endfor %}
    </section>
  {% endif %}
{% endblock %}