.container {
  max-width: var(--content-width-wide);
  margin-inline: auto;
  padding: var(--spacing-medium);
}

.container-narrow {
  max-width: 65ch;
  margin: 0 auto;
  padding: var(--spacing-medium);
}